header{
    background-color: #C9E4CA;
}
nav{
    display: inline-block;
    width: 23%;
    padding: 1%;
    vertical-align: top;
}
.logo{ 
    width: 23%;
    padding: 1% ;
}
ul{
    margin: 50%;
    margin-left: auto;
}
section{
    text-align: center;
}
.heroImg{
    height: 600px;
    padding: 25px;
}

